.div-4{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
}
.div-6 {
    padding-bottom: 200px;
    padding-left: 30px;
    padding-right: 30px;
}

.col-1 {
    padding-top: 80px;
}

.col-2 {
    padding-top: 0px;
}

.col-3 {
    padding-top: 80px;
}

.col-4 {
    padding-top: 0px;
}

.top-w {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    color: #DEDEDE;     
    padding: 90px 0px 0px 350px ;
}

img {
width: 800px;
}