body {
    background-color: #202020;
}

.sec-1 {
    display: flex;
    padding-top: 180px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-evenly;
    
}

.div-1 h2 {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    color: #DEDEDE;
    width: 517px;
    height: 192px;
    padding-bottom: 30px;
    
}

.div-1 p {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #959595;
    width: 500px;
    padding-bottom: 100px;
    
}

.butt-1 {
    background-color: #9D9D9D;
    border: none;
    border-radius: 4px;   
    padding: 15px 80px;
    font-family: 'Manrope';
    font-size: 15px;
    text-transform: uppercase;
}

.foto-p {
    border: 2px solid #9D9D9D;
    border-radius: 100%; 
    width: 400px;
    height: 400px;
}

